<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <div aling="center">
    <H3>Update product</H3>
    <br>
    <form action="/product_update" method ="get">
         <table border="0" cellpadding="10">
            <tr>
            <td>ID:</td>
                <td> <input type="text" name="id" id="id"/>
                  </td>
              <td>Name:</td>
                <td> <input type="text" name="productName" id="productName"/>
                  </td>
                  <td>category:</td>
                <td> <input type="text" name="category" id="category"/>
                  </td>
                  <td>price:</td>
                <td> <input type="text" name="price" id="price"/>
                  </td>
                  <td>size:</td>
                <td> <input type="text" name="size" id="size"/>
                  </td>
                   <tr>
                    <td colspan="2"><button type="submit" value="update">update</button> </td>
                </tr>
            </table>    
    </form>
 </div>
</body>
</html>